<style>
  .mat-stepper-vertical {
    margin-top: 8px;
  }

  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .stepper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 40%;
  }

  .stepper-field-wrapper {
    display: flex;
    flex-direction: column;
  }

  .form-stepper-textarea {
    max-width: 100%;
  }

  .form-contact-btn {
    margin-right: 10px;
  }

  .form-contact-btn:nth-of-type(3) {
    margin-left: 10px;
    margin-right: 0px;
  }

  form {
    width: 100%;
  }

  @media all and (max-width: 1100px) {
    .stepper-wrapper {
      width: 80%;
    }
  }

  @media all and (max-width: 670px) {
    .stepper-wrapper {
      width: 90%;
    }
  }

  @media all and (max-width: 400px) {
    .mdc-button {
      width: 30px;
    }
  }
</style>

<div>
  <app-toolbar></app-toolbar>

  <app-frame-animation></app-frame-animation>

  <div class="container stepper-wrapper">
    <form [formGroup]="contactForm" (ngSubmit)="submit()">
      <mat-stepper orientation="vertical" linear #stepper>
        <!-- STEP 1 -->
        <mat-step [stepControl]="contactForm.controls.personal">
          <ng-template matStepLabel>Your details</ng-template>

          <div formGroupName="personal" class="stepper-field-wrapper">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" />

              @if (contactForm.controls.personal.controls.name.hasError('required')) {
                <mat-error>Name is required</mat-error>
              }
              @if (contactForm.controls.personal.controls.name.hasError('maxlength')) {
                <mat-error>Maximum 50 characters</mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />

              @if (contactForm.controls.personal.controls.email.hasError('required')) {
                <mat-error>Email is required</mat-error>
              }

              @if (contactForm.controls.personal.controls.email.hasError('email')) {
                <mat-error>Please enter a valid email</mat-error>
              }

              @if (contactForm.controls.personal.controls.email.hasError('maxlength')) {
                <mat-error>Maximum 50 characters</mat-error>
              }
            </mat-form-field>
          </div>

          <div>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </mat-step>

        <!-- STEP 2 -->
        <mat-step [stepControl]="contactForm.controls.message">
          <ng-template matStepLabel>Message</ng-template>

          <div formGroupName="message" class="stepper-field-wrapper">
            <mat-form-field>
              <mat-label>Subject</mat-label>
              <input matInput formControlName="subject" />

              @if (contactForm.controls.message.controls.subject.hasError('required')) {
                <mat-error>Subject is required</mat-error>
              }
              @if (contactForm.controls.message.controls.subject.hasError('maxlength')) {
                <mat-error>Maximum 50 characters</mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Message</mat-label>
              <textarea matInput rows="5" formControlName="message" class="form-stepper-textarea">
              </textarea>

              @if (contactForm.controls.message.controls.message.hasError('required')) {
                <mat-error>Message is required</mat-error>
              }
              @if (contactForm.controls.message.controls.message.hasError('maxlength')) {
                <mat-error>Maximum 100 characters</mat-error>
              }
            </mat-form-field>
          </div>

          <div>
            <button mat-button matStepperPrevious type="button">Back</button>

            <button mat-button matStepperNext type="button">Review</button>
          </div>
        </mat-step>

        <!-- STEP 3 -->
        <mat-step>
          <ng-template matStepLabel>Review</ng-template>

          <h3>Review your message</h3>

          <p>
            <strong>Name:</strong>
            {{ contactForm.controls.personal.controls.name.value }}
          </p>

          <p>
            <strong>Email:</strong>
            {{ contactForm.controls.personal.controls.email.value }}
          </p>

          <p>
            <strong>Subject:</strong>
            {{ contactForm.controls.message.controls.subject.value }}
          </p>

          <p>
            <strong>Message:</strong>
            <br />
            {{ contactForm.controls.message.controls.message.value }}
          </p>

          <div>
            <button mat-button matStepperPrevious type="button" class="form-contact-btn">
              Back
            </button>

            <button matButton (click)="stepper.reset()" class="form-contact-btn">Reset</button>

            <button mat-flat-button type="submit" class="form-contact-btn">Send</button>
          </div>
        </mat-step>
      </mat-stepper>
    </form>
  </div>
</div>
