<style>
  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  .weather-from-field {
    min-width: 300px;
  }

  .weather-btn {
    margin-top: 20px;
  }

  .weather-wrapper {
    min-width: 300px;
    display: flex;
    justify-content: center;
  }

  .city {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 8%;
    border-radius: 20px;
    background-color: var(--mat-sys-surface);
    box-shadow: 10px 10px 5px 0px var(--mat-sys-on-surface);
    border: 1px solid var(--mat-sys-on-surface);
    font: 0.9rem sans-serif;
    margin-bottom: 30px;
    margin-top: 50px;
    width: 100%;
  }

  .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
  }

  .city sup {
    font-size: 0.5em;
  }

  .city-name {
    font-size: 2em;
  }

  .city-name sup {
    padding: 0.2em 0.6em;
    margin-left: 0.2em;
    border-radius: 30px;
    background-color: var(--mat-sys-primary-container);
  }

  .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    background-color: #808080;
    border-radius: 5px;
  }

  .city p {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-icon-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 3px;
  }
</style>

<div>
  <app-toolbar></app-toolbar>
  <div class="container form-wrapper">
    <app-weather-animation></app-weather-animation>
    <mat-form-field class="weather-from-field">
      <mat-label>City</mat-label>
      <input
        matInput
        type="text"
        [ngModel]="city()"
        (ngModelChange)="city.set($event)"
        placeholder="e.g. London"
      />
      @if (city()) {
        <button matSuffix matIconButton aria-label="Clear" (click)="city.set('')">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
    <button matButton="tonal" (click)="getWeather()" class="weather-btn">Check the Weather</button>

    <div class="weather-wrapper">
      @if (weather()) {
        <div class="city">
          <h2 class="city-name">
            <span>{{ weather()?.name }}</span>
            <sup>{{ weather()?.sys?.country }}</sup>
          </h2>
          <div class="city-temp">
            <span>{{ round(weather()?.main.temp) }}</span>
            <sup>°C </sup>
          </div>
          <div class="info">
            <img class="city-icon" src="{{ img() }}" />
            <p>{{ weather()?.weather[0].description }}</p>
            <div class="info-icon-wrapper">
              <mat-icon
                aria-hidden="false"
                aria-label="humidity_percentage"
                fontIcon="water_drop"
              ></mat-icon>
              Humidity: {{ weather()?.main.humidity }}%
            </div>
            <div class="info-icon-wrapper">
              <mat-icon aria-hidden="false" aria-label="wind" fontIcon="air"></mat-icon>
              Wind: {{ weather()?.wind.speed }}m/s
            </div>
          </div>
        </div>
      } @else {
        <div><app-arrow-animation></app-arrow-animation></div>
      }
    </div>
  </div>
</div>
