<style>
  .example-spacer {
    flex: 1 1 auto;
  }

  .brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
  }
</style>

<mat-toolbar>
  <div class="brand-container">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="landscape"
      class="big-icon"
    ></mat-icon>
    <span>Outdoor Journeys</span>
  </div>

  <span class="example-spacer"></span>

  <a mat-button>Home</a>
  <a mat-button>Journeys</a>
  <a mat-button>Contact</a>

  <button
    mat-icon-button
    (click)="toggleDarkMode()"
    [attr.aria-label]="isDarkMode ? 'Switch to light mode' : 'Switch to dark mode'"
  >
    <mat-icon>
      {{ isDarkMode ? 'light_mode' : 'dark_mode' }}
    </mat-icon>
  </button>
</mat-toolbar>
