<style>
  .nav-bar-spacer {
    flex: 1 1 auto;
  }

  .brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .big-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
  }

  .toolbar {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
  }

  .toolbar-dropdown-wrapper {
    display: none;
  }

  .toolbar-dropdown-menu {
    background-color: var(--mat-sys-surface);
    border-color: var(--mat-sys-on-primary-container);
  }

  .toolbar-dropdown-menu-item:hover {
    background-color: var(--mat-sys-primary-container);
  }

  .toolbar-dropdown-a {
    color: var(--mat-sys-on-surface);
    text-decoration: none;
  }

  .toolbar-dropdown-darkmode-btn {
    display: flex;
    align-items: center;
  }

  .toolbar-nav-btn.active,
  .toolbar-dropdown-a.active {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: 600;
  }

  @media all and (max-width: 768px) {
    .toolbar-text,
    .toolbar-nav-btn {
      display: none;
    }

    .toolbar-dropdown-wrapper {
      display: inline-block;
    }
  }
</style>

<mat-toolbar class="toolbar">
  <div class="brand-container">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="landscape"
      class="big-icon"
    ></mat-icon>
    <span class="toolbar-text">Outdoor Journeys</span>
  </div>

  <span class="nav-bar-spacer"></span>

  <a mat-button [routerLink]="navHome" class="toolbar-nav-btn" routerLinkActive="active">
    {{ 'nav.home' | translate }}</a
  >
  <a mat-button [routerLink]="navJourneys" class="toolbar-nav-btn" routerLinkActive="active">{{
    'nav.journeys' | translate
  }}</a>
  <a mat-button [routerLink]="navWeatherCheck" class="toolbar-nav-btn" routerLinkActive="active">{{
    'nav.weather' | translate
  }}</a>
  <a mat-button [routerLink]="navContact" class="toolbar-nav-btn" routerLinkActive="active">{{
    'nav.contact' | translate
  }}</a>

  <button
    class="toolbar-nav-btn"
    mat-icon-button
    (click)="toggleDarkMode()"
    [attr.aria-label]="isDarkMode ? 'Switch to light mode' : 'Switch to dark mode'"
  >
    <mat-icon>
      {{ isDarkMode ? 'light_mode' : 'dark_mode' }}
    </mat-icon>
  </button>

  @if (languageService.currentLanguage === 'en') {
    <button mat-button (click)="languageService.changeLanguage('de')" class="toolbar-nav-btn">
      <img src="{{ navImgDe }}" alt="German" style="width: 20px" />
    </button>
  } @else {
    <button mat-button (click)="languageService.changeLanguage('en')" class="toolbar-nav-btn">
      <img src="{{ navImgEn }}" alt="English" style="width: 20px" />
    </button>
  }

  <div ngbDropdown class="toolbar-dropdown-wrapper">
    <button mat-button type="button" class="btn" id="togleBtnOfdropdownNav" ngbDropdownToggle>
      Menu
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownOfNav" class="toolbar-dropdown-menu">
      <button ngbDropdownItem class="toolbar-dropdown-menu-item">
        <a [routerLink]="navHome" class="toolbar-dropdown-a" routerLinkActive="active">{{
          'nav.home' | translate
        }}</a>
      </button>
      <button ngbDropdownItem class="toolbar-dropdown-menu-item">
        <a [routerLink]="navJourneys" class="toolbar-dropdown-a" routerLinkActive="active">{{
          'nav.journeys' | translate
        }}</a>
      </button>
      <button ngbDropdownItem class="toolbar-dropdown-menu-item">
        <a [routerLink]="navWeatherCheck" class="toolbar-dropdown-a" routerLinkActive="active">
          {{ 'nav.weather' | translate }}</a
        >
      </button>
      <button ngbDropdownItem class="toolbar-dropdown-menu-item">
        <a [routerLink]="navContact" class="toolbar-dropdown-a" routerLinkActive="active">{{
          'nav.contact' | translate
        }}</a>
      </button>
      <button
        ngbDropdownItem
        class="toolbar-dropdown-menu-item toolbar-dropdown-darkmode-btn"
        (click)="toggleDarkMode()"
        [attr.aria-label]="isDarkMode ? 'Switch to light mode' : 'Switch to dark mode'"
      >
        <mat-icon class="toolbar-dropdown-a">
          {{ isDarkMode ? 'light_mode' : 'dark_mode' }}
        </mat-icon>
      </button>
      @if (languageService.currentLanguage === 'en') {
        <button
          ngbDropdownItem
          (click)="languageService.changeLanguage('de')"
          class="toolbar-dropdown-menu-item"
        >
          <img src="{{ navImgDe }}" alt="German" style="width: 20px" />
        </button>
      } @else {
        <button
          ngbDropdownItem
          (click)="languageService.changeLanguage('en')"
          class="toolbar-dropdown-menu-item"
        >
          <img src="{{ navImgEn }}" alt="English" style="width: 20px" />
        </button>
      }
    </div>
  </div>
</mat-toolbar>
